<div class="container">
    <h2>Tabla de Cuentas</h2>
    <button style="margin:4px 0 ;" class="btn btn-primary" routerLink="/cuenta/agregar">Crear Cuenta</button>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="table-dark">
          <tr>
            <th>ID Cuenta</th>
            <th>Numero cuenta</th>
            <th>saldo</th>
            <th>cliente</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody *ngFor="let cuenta of listarcuenta">
          <tr>
            <td>{{ cuenta.id }}</td>
            <td>{{ cuenta.numeroCuenta }}</td>
            <td>{{ cuenta.saldo }}</td>
            <td>{{ cuenta.cliente.nombre }}</td>
            <td style="text-align: center">
              <button  (click)="eliminarCuenta(cuenta.id!)" class="btn btn-danger" style="margin: 3px;">Eliminar</button
              ><button class="btn btn-secondary" [routerLink]="['/cuenta/editar', cuenta.id]">Editar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  